.idea
.git

wp-admin
wp-includes
wp-config.php
index.php
wp-content/uploads
!wp-content/themes/dhaka/index.php
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentytwenty

wp-content/upgrade
wp-content/updraftplus
wp-content/updraft
wp-content/debug.log
wp-content/plugins/
!wp-content/plugins/bring-back-toolkit/includes
!wp-content/plugins/bring-back-toolkit/